// ReverseAuctionCore는 reverse-auction 클래스를 사용하므로
// ReverseAuction.scss의 스타일을 그대로 사용
// 여기서는 reverse-auction-core 클래스도 reverse-auction과 동일하게 처리

.reverse-auction-core {
  // ReverseAuction.scss의 모든 스타일을 상속
  @extend .reverse-auction;
}
