@use '/src/styles/tokens/index';

.badge-root {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;

    display: flex;
    flex-flow: row wrap;
    place-content: center;
    align-items: center;

    font-family: var(--primitive-font-family);
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;

    border-radius: 10px;
    background-color: var(--primitive-primary-500);
    color: white;
    box-sizing: border-box;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    z-index: 1;

    &--dot {
        border-radius: 4px;
        height: 8px;
        min-width: 8px;
        padding: 0;
    }

    // Colors
    &--primary {
        background-color: var(--primitive-primary-500);
    }

    &--secondary {
        background-color: var(--primitive-secondary-500);
    }

    &--error {
        background-color: var(--primitive-error-500);
    }

    &--warning {
        background-color: var(--primitive-warning-500);
    }

    &--success {
        background-color: var(--primitive-success-500);
    }
}