@use '/src/styles/tokens/index';

.switch {
    display: inline-flex;
    width: 58px;
    height: 38px;
    padding: 9px;
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    flex-shrink: 0;

    &--small {
        width: 40px;
        height: 24px;
        padding: 4px;

        .switch__thumb {
            width: 16px;
            height: 16px;
        }
    }

    &__input {
        cursor: inherit;
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    &__track {
        width: 100%;
        height: 100%;
        border-radius: 10px; // Half of height
        background-color: var(--color-text-disabled); // Inactive track color
        opacity: 0.38;
        transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        position: relative;
        display: block;
    }

    &__thumb {
        box-shadow: var(--shadow-1);
        background-color: var(--color-bg-surface);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Checked state
    &:has(.switch__input:checked) {
        .switch__track {
            opacity: 0.5;
        }

        .switch__thumb {
            left: 100%;
            transform: translate(-100%, -50%);
        }
    }

    // Colors
    @each $color in primary, secondary, success, error, warning, info {
        &--#{$color}:has(.switch__input:checked) {
            .switch__track {
                background-color: var(--color-#{$color}-main);
            }

            .switch__thumb {
                background-color: var(--color-#{$color}-main);
            }
        }
    }

    // Disabled state
    &--disabled {
        cursor: not-allowed;
        opacity: 0.5;

        .switch__input {
            cursor: not-allowed;
        }
    }
}