@use '/src/styles/tokens/index';

.chat__date-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--color-border-default);
  }

  &::before {
    margin-right: var(--space-gap-md);
  }

  &::after {
    margin-left: var(--space-gap-md);
  }
}

.chat__date-divider-text {
  padding: var(--space-padding-xs);
  background-color: var(--color-background-secondary);
  border-radius: var(--primitive-radius-md);
  color: var(--color-text-secondary);
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.75rem;
}
