@use '/src/styles/tokens/index';

.switch {
  display: inline-flex;
  width: 58px;
  height: 38px;
  padding: 9px;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  flex-shrink: 0;

  &--small {
    width: 40px;
    height: 24px;
    padding: 4px;

    .switch__thumb {
      width: 16px;
      height: 16px;
    }
  }

  &__input {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  &__track {
    width: 100%;
    height: 100%;
    border-radius: 10px; // Half of height
    background-color: var(--color-text-disabled); // Inactive track color
    opacity: 0.5;
    transition:
      opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: relative;
    display: block;
    border: 1px solid var(--color-border-default);
  }

  &__thumb {
    box-shadow: var(--shadow-2);
    background-color: var(--primitive-gray-0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    transition:
      left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-default);
  }

  // Checked state
  &:has(.switch__input:checked) {
    .switch__track {
      opacity: 1;
      background-color: var(--color-interactive-primary);
      border-color: var(--color-interactive-primary);
    }

    .switch__thumb {
      left: 100%;
      transform: translate(-100%, -50%);
      background-color: var(--primitive-gray-0);
      border-color: var(--color-interactive-primary);
    }
  }

  // Colors
  &--primary:has(.switch__input:checked) {
    .switch__track {
      background-color: var(--color-interactive-primary);
      border-color: var(--color-interactive-primary);
    }

    .switch__thumb {
      border-color: var(--color-interactive-primary);
    }
  }

  &--secondary:has(.switch__input:checked) {
    .switch__track {
      background-color: var(--color-interactive-secondary);
      border-color: var(--color-interactive-secondary);
    }

    .switch__thumb {
      border-color: var(--color-interactive-secondary);
    }
  }

  &--success:has(.switch__input:checked) {
    .switch__track {
      background-color: var(--color-status-success);
      border-color: var(--color-status-success);
    }

    .switch__thumb {
      border-color: var(--color-status-success);
    }
  }

  &--error:has(.switch__input:checked) {
    .switch__track {
      background-color: var(--color-status-error);
      border-color: var(--color-status-error);
    }

    .switch__thumb {
      border-color: var(--color-status-error);
    }
  }

  &--warning:has(.switch__input:checked) {
    .switch__track {
      background-color: var(--color-status-warning);
      border-color: var(--color-status-warning);
    }

    .switch__thumb {
      border-color: var(--color-status-warning);
    }
  }

  &--info:has(.switch__input:checked) {
    .switch__track {
      background-color: var(--color-status-info);
      border-color: var(--color-status-info);
    }

    .switch__thumb {
      border-color: var(--color-status-info);
    }
  }

  // Disabled state
  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;

    .switch__input {
      cursor: not-allowed;
    }
  }
}
