# --- Server Configuration ---
PORT=5000
# --- Security ---
JWT_SECRET=your_super_secret_jwt_key_here
ENCRYPTION_KEY=your-secret-key-must-be-32-chars!!

# --- Databases ---
# MongoDB Atlas URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/spark-messaging?retryWrites=true&w=majority

# Redis URL (Local or Cloud)
REDIS_URL=rediss://default:your_password@your-endpoint.rediscloud.com:포트  #Cloud
#REDIS_URL=redis://localhost:6379 #Local

# --- Spark Messaging Server (Shared) ---
SPARK_SERVER_URL=http://localhost:3000
SPARK_PROJECT_KEY=default-project-key-12345

# --- Web Push (VAPID) ---
# npx web-push generate-vapid-keys 명령어로 생성 가능
VAPID_PUBLIC_KEY=BNH5hoTgwI3skHJOuob2RJwC-8rwZEgXTCCdK7uSMcR3kLICvYRqwTaNL3tPOM3i9kS_FO7dGDfuxhMtGdnEyH8
VAPID_PRIVATE_KEY=LVSVNuksuRy1doHKnq3L_T3ACypMvNDb2BE0n95zZ2o
VAPID_EMAIL=mailto:your-email@example.com

# --- Video Meeting Configuration ---
# 화상회의 최대 참가자 수
VIDEO_MEETING_MAX_PARTICIPANTS=2
# 한 화면에 표시될 최대 비디오 스트림 수
VIDEO_MEETING_MAX_VIDEO_STREAMS=2
