@use '/src/styles/tokens/index';

.grid {
  width: 100%;
  box-sizing: border-box;

  &--container {
    display: grid;
    grid-template-columns: var(--grid-template-columns, var(--grid-columns-default));
    grid-template-rows: var(--grid-template-rows, auto);
    grid-auto-flow: var(--grid-auto-flow, initial);
    gap: var(--grid-gap, var(--grid-gap-default));
    row-gap: var(--grid-row-gap, var(--grid-gap, var(--grid-gap-default)));
    column-gap: var(--grid-column-gap, var(--grid-gap, var(--grid-gap-default)));
  }
}



