@use '/src/styles/tokens/index';

.circular-progress {
    display: inline-block;
    color: var(--color-primary-main); // Default color

    &__svg {
        display: block;
        // Animation for indeterminate
    }

    &__circle {
        stroke: currentColor;
        // Animation for indeterminate
    }

    // Indeterminate Animation
    &--indeterminate {
        animation: circular-rotate 1.4s linear infinite;

        .circular-progress__circle {
            stroke-dasharray: 80px, 200px;
            stroke-dashoffset: 0;
            animation: circular-dash 1.4s ease-in-out infinite;
        }
    }

    // Determinate
    &--determinate {
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        .circular-progress__circle {
            transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }
    }

    // Colors
    @each $color in primary, secondary, success, error, warning, info {
        &--#{$color} {
            color: var(--color-#{$color}-main);
        }
    }

    &--inherit {
        color: inherit;
    }
}

@keyframes circular-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes circular-dash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}