@use '/src/styles/tokens/index';

.divider {
    margin: 0;
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: var(--color-border-default);

    // Orientation
    &--horizontal {
        border-bottom-width: 1px;
        width: 100%;
    }

    &--vertical {
        height: 100%;
        border-right-width: 1px;
        display: inline-block;
        align-self: stretch;
    }

    // Variants
    &--inset {
        margin-left: 72px; // Classic Material UI inset
    }

    &--middle {
        margin-left: var(--space-gap-md);
        margin-right: var(--space-gap-md);
    }

    &--flexItem {
        height: auto;
        align-self: auto;
    }
}