@use '/src/styles/tokens/index';

.chat-app {
  &__container {
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__sidebar-wrapper {
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }

  &__sidebar {
    @media (max-width: 768px) {
      border-right: none !important;
      border-bottom: 1px solid var(--color-border-default);
    }
  }

  // 모바일에서 룸 리스트 우측 border 제거
  @media (max-width: 768px) {
    .paper {
      border-right: none !important;
    }

    // No rooms yet. 밑 border 제거
    .list-item {
      border-bottom: none !important;
    }

    .list {
      border-bottom: none !important;
    }
  }
}
