@use '/src/styles/tokens/index';

.skeleton {
    display: block;
    background-color: rgba(0, 0, 0, 0.11);
    height: 1.2em;

    // Variants
    &--text {
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
        transform-origin: 0 55%;
        transform: scale(1, 0.60);
        border-radius: 4px/6.7px;

        &:empty:before {
            content: "\\00a0";
        }
    }

    &--circular {
        border-radius: 50%;
    }

    &--rectangular {
        // No border radius
    }

    &--rounded {
        border-radius: 4px;
    }

    // Animations
    &--pulse {
        animation: skeleton-pulse 1.5s ease-in-out 0.5s infinite;
    }

    &--wave {
        position: relative;
        overflow: hidden;

        &::after {
            animation: skeleton-wave 1.6s linear 0.5s infinite;
            background: linear-gradient(90deg,
                    transparent,
                    rgba(0, 0, 0, 0.04),
                    transparent);
            content: "";
            position: absolute;
            transform: translateX(-100%);
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        }
    }
}

@keyframes skeleton-pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes skeleton-wave {
    0% {
        transform: translateX(-100%);
    }

    50% {
        // +0.5s of delay between each loop
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}