@use '/src/styles/tokens/index';

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 0;

  &__header {
    position: sticky;
    top: 0;
    z-index: 100;
    flex-shrink: 0;
  }

  &__body {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--space-padding-card-md);
    padding-bottom: var(--space-padding-card-md);

    @media (max-width: 768px) {
      padding: var(--space-padding-card-sm);
      padding-bottom: var(--space-padding-card-sm);
    }
  }
}
