.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: calc(1rem + 60px);

    @media (min-width: 769px) {
        padding: 0.75rem;
        padding-bottom: 0.75rem;
    }
}
