@use '/src/styles/tokens/index';

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &__header {
        position: sticky;
        top: 0;
        z-index: 100;
        flex-shrink: 0;
    }

    &__body {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        padding: var(--space-padding-card-md);
        padding-bottom: calc(var(--space-padding-card-md) + 60px);

        @media (min-width: 769px) {
            padding: var(--space-padding-card-md);
            padding-bottom: var(--space-padding-card-md);
        }
    }
}
