@use '/src/styles/tokens/index';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-interactive-primary);
  
  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-default);
    z-index: var(--z-index-modal);
  }

  &--small {
    scale: 0.5;
  }

  &--medium {
    scale: 1;
  }

  &--large {
    scale: 1.5;
  }

  &__container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__star {
    width: 60px;
    height: 60px;
    z-index: 2;
    filter: drop-shadow(0 0 10px var(--color-interactive-primary));
    
    &-svg {
      width: 100%;
      height: 100%;
    }

    &-path {
      animation: star-pulse 2s infinite ease-in-out;
    }
  }

  &__waves {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__wave {
    &-svg {
      width: 100%;
      height: 100%;
    }

    &-path {
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
      animation: wave-flow 3s infinite ease-in-out;

      @for $i from 0 through 6 {
        &--#{$i} {
          animation-delay: #{$i * 0.15}s;
        }
      }

      &--left {
        transform-origin: center;
      }

      &--right {
        transform-origin: center;
      }
    }
  }
}

@keyframes star-pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes wave-flow {
  0% {
    stroke-dashoffset: 400;
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    stroke-dashoffset: -400;
    opacity: 0;
  }
}
